<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>addPost</title>
</head>
<script>
$(function(){
	
	$("#btnPost").click(function(){
		var id=$("#threadID").html();
		var content=$.trim($("#content").val());
		var url="/SelfCareCommunity/service/thread/"+id+"/newpost";
		//alert(url);
		if(content.length==0)
			return false;
		else{
			$.ajax({
				  url: url,
				  type: "POST",
				  dataType: "json",
				  contentType: 'application/json; charset=utf-8',
				  data: JSON.stringify({ "content":content}),
				  success: function(){
					  //alert("1");
					  //$("#postSuccess").alert();
					  //$("#postSuccess").show();

				  },
				  error: function(xhr, ajaxOptions, thrownError){
					  //console.log(xhr.status+"  "+thrownError);
					  //$("#postFail").alert();
					  //$("#postFail").show();
				  }
				  
			});
			$("#postSuccess").show();
			return false;
		}
	});
	
});
</script>
<body>

<div class="row">
	
	<div class="span5 offet2">
	<div id="postSuccess"class="alert alert-success fade in hide" data-alert="alert">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<strong>Post success!</strong> 
	</div>
	
	<div id="postFail" class="alert alert-error fade in hide" data-alert="alert">
  		<button type="button" class="close" data-dismiss="alert">&times;</button>
  		<strong>Post fail!</strong> 
	</div>
	</div>
	
    <div class="span9">
    	<form id="addPost">
    		<span id="threadID" data-content="threadID" style="display:none"></span>
        	<h4>Reply to this topic</h4>
            <textarea class="field span9" rows="6" id="content" required></textarea>
            <div class="pull-right">
            <button id="btnPost" class="btn btn-info" type="submit">Submit</button>
            </div>
        </form>
   </div>
</div>

</body>
</html>