<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>Insert title here</title>
</head>
<script>
</script>
<body>
<div class="row">
     <div class="span9 offset3">
          <form method="post">
          	  <span id="categoryId" data-content="categoryId" style="display:none"></span>
              <h4>Add a topic</h4>
                 <input type="text" class="span6" placeholder="Type something about the topic">
                 <textarea class="field span9" rows="6"></textarea>
                 <div class="pull-right">
                 <button id="btnTopic"class="btn btn-info" type="submit">Submit</button></div>
          </form>
    </div>
 </div>
</body>
</html>