<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <meta content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../resources/styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../resources/scripts/bootstrap.min.js"></script>
 </head>
 
 <script>
 
 </script>
<body>
  

<div class="row">
	<div class="media">
		<div class="span1">
        	<div class="pull-left">
            <img class="media-object" data-src="authorPic">
            </div>
        </div>

        <div class="pull-left person_info">
        	<div class="Autor_name">
                <h5 class="media-heading" data-content="author"></h5>
            </div>
            <div class="person_content">
             	<p id= "text" data-content="content"></p>
             </div>
            <div class="some_data">
            	<p data-content="date" class="muted"></p>
            </div>
                
        </div>
        
     </div>
</div>


</body>
</html>