<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <meta content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../resources/styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../resources/scripts/bootstrap.min.js"></script>
 </head>
 
<body>
  

<div class="row">
	<div class="media">
		<div class="span1">
        	<div class="pull-left">
            <img class="media-object" data-src="authorPic">
            </div>
        </div>

        <div class="span8">
        	<div class="media-body">
                <h5 class="media-heading" data-content="author"></h5>
                <p data-content="content"></p>
            </div>
            
            <div class="row">
            <div class="span2">
            	<p data-content="date" class="muted"></p>
            </div>
            <div class="span2">
            	<p data-content="likes" class="muted"></p>
            </div>
            </div>     
        </div>
     </div>
</div>

<hr />

</body>
</html>