<!DOCTYPE html>
<html>
  <head>
    <title>View</title>
    <meta content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../resources/styles/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="../resources/scripts/bootstrap.min.js"></script>
 </head>
 
 <script>
 
 </script>
<body>
  

<div class="row">
	<div class="media">
		<div class="span1">
        	<div class="pull-left">
            <img class="media-object" data-src="authorPic">
            </div>
        </div>

        <div class="span9">
        	<div class="media-body">
                <h5 class="media-heading" data-content="author"></h5>
                <p id= "text" data-content="content"></p>
            </div>
            
            <div class="row">
            <div class="span2">
            	<p data-content="date" class="muted"></p>
            </div>
            <div class="span2">
            	<p data-content="likes" class="muted"></p>
            </div>
            
            <div class="span2">
              <button type="button" class="btn" data-alt="postId" onclick="like(this,1)" data-template-bind='[{"attribute": "disabled", "value": "canLike"}]'>Recommend</button>
             </div>
             
             <!-- 
             <div class="span2">
              <button type="button" class="btn" data-alt="postId" onclick="like(this,0)">Not Recommend</button>
            </div>
            
            <div class="span1">
            	<a href="#" onclick="like(this);return false;"><span data-content="likeLink" style="display:none"></span><i class="icon-thumbs-up"></i>like</a>
            </div>-->
            
            </div>     
        </div>
      
        <!--
        <div class="btn-group btn-group-vertical">
              <button type="button" class="btn" data-alt="postId" onclick="like(this,1)"><a href="#" data-toggle="tooltip" data-placement="right" title="like"><i class="icon-chevron-up"></i></a></button>
              <button type="button" class="btn" data-alt="postId" onclick="like(this,0)"><a href="#" data-toggle="tooltip" data-placement="right" title="unlike"><i class="icon-chevron-down"></i></a></button>
        </div>-->
        
     </div>
</div>

<hr />

</body>
</html>