<!DOCTYPE html>
<html>
<head>
    <meta charset="US-ASCII">
    <title>Insert title here</title>
</head>
<body>
    <div class="row solution_item">
      <div class="span1">
        <h4 data-content="author"></h4>
        <img data-src="authorPic">
    </div>

    <div class="span7">

        <div class="solution_author_data">
        <span class="muted span2" data-content="postedDate"></span>
    
        <span class="span1" >tags:</span>
        <span class="muted" data-content="tag1"></span>
        <span class="muted" data-content="tag2"></span>
        </div>

        <div data-content="description" class="solution_text"></div>

    </div>

    </body>
    </html>