<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>Insert title here</title>
</head>
<body>

<div class="row">
  <div class="span1">
    <h4 data-content="author"></h4>
    <img data-src="authorPic">
  </div>

  <div class="span7">
 <dl>
 			<dt>Who</dt>
            <dd data-content="who"></dd>
            <dt>When</dt>
            <dd data-content="when"></dd>
            <dt>Where</dt>
            <dd data-content="where"></dd>
            <dt>How</dt>
            <dd data-content="how"></dd>
            <dt>Why</dt>
            <dd data-content="why"></dd>
            <dt>Consequence</dt>
            <dd data-content="consequences"></dd>
          </dl>
 <div class="muted" data-content="postedDate"></div>
  </div>
</div>

<hr />

</body>
</html>