<!DOCTYPE html>
<html>
<head>
<meta charset="US-ASCII">
<title>Insert title here</title>
</head>
<body>

<div class="row">
  <div class="span1">
    <h4>User</h4>
    <img src="img/avatar.png">
  </div>

  <div class="span7">
 <dl>
            <dt>When</dt>
            <dd>12/12/12013</dd>
            <dt>Where</dt>
            <dd>vaxjo,Sweden</dd>
            <dt>How</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            <dt>Why</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            <dt>What</dt>
            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
          </dl>
  </div>
</div>

<hr />

</body>
</html>