<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
    <session-factory>
        <mapping class="com.lnu.bean.PersonCredentials"/>
        <mapping class="com.lnu.bean.Person"/>
        <mapping class="com.lnu.bean.Category"/>
        <mapping class="com.lnu.bean.Post"/>
        <mapping class="com.lnu.bean.Thread"/>
        <mapping class="com.lnu.bean.Problem"/>
        <mapping class="com.lnu.bean.Solution"/>
        <mapping class="com.lnu.bean.Tag"/>
        <mapping class="com.lnu.bean.Description"/>
        <mapping class="com.lnu.bean.Like"/>
    </session-factory>
</hibernate-configuration>